$blue: #2196f3;
$white: #ffffff;

.header{
  &__user{
    width: 210px;
    height: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }
}

.active{
  display: flex;
}
